# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data/model artifacts
*.h5
*.keras
*.pt
*.pth
*.onnx
*.ckpt

# Logs
*.log

# Build/package
build/
dist/
*.egg-info/

# Env files
.env

.idea/data/
data/
